@charset "UTF-8";

.container {
    /* width: 960px; */
    /* margin: 0 auto; */

    /* 開発中のみ表示 */
    background-color: darkcyan;
}

.wrapper {
    max-width: 960px;
    padding: 0 4%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
}

h1 {
    background-color: #364052;
    width: 120px;
    height: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-top: 24px;
}

ul li {
    font-size: 12px;
}

.main_visual {
    height: 600px;
    width: 100vw;
    /* margin: 0 calc(50% - 50vw); */
    /* 👇これがないと画像の比率がおかしくなる */
    object-fit: cover;
    margin-bottom: 90px;
}

/* 開発中のみ指定 */
main {
    background-color: khaki;
    display: block;
    margin: 0 auto;
    /* display: grid;
    grid-template-rows: auto auto; */
}

section {
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    /* margin-bottom: 75px; */
}

.under_line {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.introduction {
    display: grid;
    grid-template-columns: auto 620px 100px auto;
    grid-template-rows: 45px auto;
    margin-bottom: 115px;
}

h3 {
    grid-column: 2;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    background-color: aqua;
}

.text {
    grid-column: 2;
    font-size: 16px;
    line-height: 1.6em;
}

.introduction .selfie {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 3;
    grid-row: 1 / 3;
}

.profile_images {
    display: grid;
    width: 84%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    /* margin-bottom: 110px; */
    margin: 0 auto 110px auto;
}

.profile h3 {
    text-align: center;
    margin-bottom: 20px;
}

.profile .text {
    text-align: center;
    margin-bottom: 15px;
    background-color: blue;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}